{
  "presets": [
    ["@babel/preset-env", {"useBuiltIns": "entry", "corejs": 3}],
    "@emotion/babel-preset-css-prop",
    "@babel/preset-react",
  ],
  "plugins": [
    ["module-resolver", {"alias": {"^@internal/(.+)$": "./@internal/\\1"}}],
    "annotate-console-log"
  ]
}
